<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.nopcommerce.test.DashBoardRegressionSuite</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifynewcategoryoption</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>searchLCustomer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifysalesoption</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyconfigurationoption</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifycustomerroleoptionavalability</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>searchbyEmailCustomer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifysystemoption</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifynewcategoryoptionsearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifycustomerMoreOptionsExist</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>searchFCustomer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyproductoption</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>searchbycompanynm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifycatalogoption</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifycatagoryoption</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addNewCoustomer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifycustomerOptionExist</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifycustomerroleaddtion</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifypromotionoption</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>appLaunch</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closeBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
