<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b4c3ab">  <td>20/01/24 10:37:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DashBoardRegressionSuite.appLaunch()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5c7fa833]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@342597804</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>20/01/24 10:38:20</td>   <td>32285</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DashBoardRegressionSuite.closeBrowser()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5c7fa833]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@342597804</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>20/01/24 10:37:56</td>   <td>8434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashBoardRegressionSuite.verifycustomerroleoptionavalability()[pri:7, instance:com.nopcommerce.test.DashBoardRegressionSuite@5c7fa833]">verifycustomerroleoptionavalability</td> 
  <td>main@342597804</td>   <td></td> </tr>
</table>
