<h2>Methods that were not run</h2><table>
<tr><td>com.nopcommerce.test.DashBoardRegressionSuite.searchbyEmailCustomer</td></tr>
<tr><td>com.nopcommerce.test.DashBoardRegressionSuite.verifysystemoption</td></tr>
<tr><td>com.nopcommerce.test.DashBoardRegressionSuite.verifynewcategoryoption</td></tr>
<tr><td>com.nopcommerce.test.DashBoardRegressionSuite.searchLCustomer</td></tr>
<tr><td>com.nopcommerce.test.DashBoardRegressionSuite.verifysalesoption</td></tr>
<tr><td>com.nopcommerce.test.DashBoardRegressionSuite.verifyconfigurationoption</td></tr>
<tr><td>com.nopcommerce.test.DashBoardRegressionSuite.verifyproductoption</td></tr>
<tr><td>com.nopcommerce.test.DashBoardRegressionSuite.searchbycompanynm</td></tr>
<tr><td>com.nopcommerce.test.DashBoardRegressionSuite.verifycatalogoption</td></tr>
<tr><td>com.nopcommerce.test.DashBoardRegressionSuite.addNewCoustomer</td></tr>
<tr><td>com.nopcommerce.test.DashBoardRegressionSuite.verifycustomerroleaddtion</td></tr>
<tr><td>com.nopcommerce.test.DashBoardRegressionSuite.verifycatagoryoption</td></tr>
<tr><td>com.nopcommerce.test.DashBoardRegressionSuite.verifycustomerOptionExist</td></tr>
<tr><td>com.nopcommerce.test.DashBoardRegressionSuite.verifypromotionoption</td></tr>
<tr><td>com.nopcommerce.test.DashBoardRegressionSuite.verifynewcategoryoptionsearch</td></tr>
<tr><td>com.nopcommerce.test.DashBoardRegressionSuite.verifycustomerMoreOptionsExist</td></tr>
<tr><td>com.nopcommerce.test.DashBoardRegressionSuite.searchFCustomer</td></tr>
</table>