<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Nopcommerce Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b4c3ab">  <td>20/01/24 23:53:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionSuite.appLaunch()[pri:0, instance:com.nopcommerce.test.LoginRegressionSuite@457e2f02]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>20/01/24 23:53:15</td>   <td>11580</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionSuite.verifyValidLogin()[pri:0, instance:com.nopcommerce.test.LoginRegressionSuite@457e2f02]">verifyValidLogin</td> 
  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>20/01/24 23:53:28</td>   <td>24722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginRegressionSuite.closeBrowser()[pri:0, instance:com.nopcommerce.test.LoginRegressionSuite@457e2f02]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>20/01/24 23:53:30</td>   <td>26811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginRegressionSuite.appLaunch()[pri:0, instance:com.nopcommerce.test.LoginRegressionSuite@457e2f02]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>20/01/24 23:53:37</td>   <td>33098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginRegressionSuite.verifyInvalidLogin()[pri:1, instance:com.nopcommerce.test.LoginRegressionSuite@457e2f02]">verifyInvalidLogin</td> 
  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="b4c3ab">  <td>20/01/24 23:53:43</td>   <td>39375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginRegressionSuite.closeBrowser()[pri:0, instance:com.nopcommerce.test.LoginRegressionSuite@457e2f02]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/24 23:53:43</td>   <td>39861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DashBoardRegressionSuite.appLaunch()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/24 23:53:51</td>   <td>48002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashBoardRegressionSuite.verifycustomerOptionExist()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">verifycustomerOptionExist</td> 
  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/24 23:54:09</td>   <td>65481</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DashBoardRegressionSuite.closeBrowser()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/24 23:54:09</td>   <td>65711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DashBoardRegressionSuite.appLaunch()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/24 23:54:17</td>   <td>73186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashBoardRegressionSuite.verifycustomerMoreOptionsExist()[pri:1, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">verifycustomerMoreOptionsExist</td> 
  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/24 23:54:35</td>   <td>91932</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DashBoardRegressionSuite.closeBrowser()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/24 23:54:37</td>   <td>94032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DashBoardRegressionSuite.appLaunch()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/24 23:54:46</td>   <td>102999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashBoardRegressionSuite.addNewCoustomer()[pri:2, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">addNewCoustomer</td> 
  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/24 23:56:29</td>   <td>205744</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DashBoardRegressionSuite.closeBrowser()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/24 23:56:32</td>   <td>208269</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DashBoardRegressionSuite.appLaunch()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/24 23:56:40</td>   <td>216437</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashBoardRegressionSuite.searchFCustomer()[pri:3, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">searchFCustomer</td> 
  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/24 23:57:58</td>   <td>294480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DashBoardRegressionSuite.closeBrowser()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/24 23:58:00</td>   <td>296526</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DashBoardRegressionSuite.appLaunch()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/24 23:58:09</td>   <td>305528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashBoardRegressionSuite.searchLCustomer()[pri:4, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">searchLCustomer</td> 
  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/24 23:59:27</td>   <td>383121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DashBoardRegressionSuite.closeBrowser()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/24 23:59:29</td>   <td>385225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DashBoardRegressionSuite.appLaunch()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/24 23:59:36</td>   <td>392910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashBoardRegressionSuite.searchbyEmailCustomer()[pri:5, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">searchbyEmailCustomer</td> 
  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:00:12</td>   <td>428227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DashBoardRegressionSuite.closeBrowser()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:00:12</td>   <td>428414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DashBoardRegressionSuite.appLaunch()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:00:20</td>   <td>436583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashBoardRegressionSuite.searchbycompanynm()[pri:6, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">searchbycompanynm</td> 
  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:00:49</td>   <td>465374</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DashBoardRegressionSuite.closeBrowser()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:00:49</td>   <td>465557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DashBoardRegressionSuite.appLaunch()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:00:56</td>   <td>472969</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashBoardRegressionSuite.verifycustomerroleoptionavalability()[pri:7, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">verifycustomerroleoptionavalability</td> 
  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:01:20</td>   <td>496355</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DashBoardRegressionSuite.closeBrowser()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:01:20</td>   <td>496483</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DashBoardRegressionSuite.appLaunch()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:01:26</td>   <td>502705</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashBoardRegressionSuite.verifycustomerroleaddtion()[pri:8, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">verifycustomerroleaddtion</td> 
  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:02:26</td>   <td>562519</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DashBoardRegressionSuite.closeBrowser()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:02:26</td>   <td>562630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DashBoardRegressionSuite.appLaunch()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:02:34</td>   <td>570077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashBoardRegressionSuite.verifycatalogoption()[pri:9, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">verifycatalogoption</td> 
  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:02:49</td>   <td>585303</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DashBoardRegressionSuite.closeBrowser()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:02:49</td>   <td>585463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DashBoardRegressionSuite.appLaunch()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:02:57</td>   <td>593577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashBoardRegressionSuite.verifyproductoption()[pri:10, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">verifyproductoption</td> 
  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:03:21</td>   <td>617172</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DashBoardRegressionSuite.closeBrowser()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:03:21</td>   <td>617288</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DashBoardRegressionSuite.appLaunch()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:03:29</td>   <td>625366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashBoardRegressionSuite.verifycatagoryoption()[pri:11, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">verifycatagoryoption</td> 
  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:03:52</td>   <td>648594</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DashBoardRegressionSuite.closeBrowser()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:03:54</td>   <td>650656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DashBoardRegressionSuite.appLaunch()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:04:02</td>   <td>658256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashBoardRegressionSuite.verifynewcategoryoption()[pri:12, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">verifynewcategoryoption</td> 
  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:04:58</td>   <td>714567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DashBoardRegressionSuite.closeBrowser()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:05:00</td>   <td>716709</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DashBoardRegressionSuite.appLaunch()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:05:07</td>   <td>723113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashBoardRegressionSuite.verifynewcategoryoptionsearch()[pri:13, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">verifynewcategoryoptionsearch</td> 
  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:05:41</td>   <td>757236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DashBoardRegressionSuite.closeBrowser()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:05:41</td>   <td>757428</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DashBoardRegressionSuite.appLaunch()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:05:48</td>   <td>765027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashBoardRegressionSuite.verifysalesoption()[pri:14, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">verifysalesoption</td> 
  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:06:05</td>   <td>781785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DashBoardRegressionSuite.closeBrowser()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:06:05</td>   <td>781960</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DashBoardRegressionSuite.appLaunch()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:06:13</td>   <td>789347</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashBoardRegressionSuite.verifypromotionoption()[pri:15, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">verifypromotionoption</td> 
  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:06:29</td>   <td>805045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DashBoardRegressionSuite.closeBrowser()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:06:29</td>   <td>805184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DashBoardRegressionSuite.appLaunch()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:06:36</td>   <td>812796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashBoardRegressionSuite.verifyconfigurationoption()[pri:16, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">verifyconfigurationoption</td> 
  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:06:52</td>   <td>828995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DashBoardRegressionSuite.closeBrowser()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:06:53</td>   <td>829218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DashBoardRegressionSuite.appLaunch()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&gt;&gt;appLaunch</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:06:59</td>   <td>835555</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashBoardRegressionSuite.verifysystemoption()[pri:17, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">verifysystemoption</td> 
  <td>main@348100441</td>   <td></td> </tr>
<tr bgcolor="77a679">  <td>20/01/25 00:07:18</td>   <td>854800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DashBoardRegressionSuite.closeBrowser()[pri:0, instance:com.nopcommerce.test.DashBoardRegressionSuite@5e5792a0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@348100441</td>   <td></td> </tr>
</table>
